:root {
  --main-dark-blue: hsl(233, 47%, 7%);
  --card-des-blue: hsl(244, 38%, 16%);
  --accent-voilet: hsl(271, 39%, 59%);

  --tr-white-75: hsla(0, 0%, 100%, 0.75);
  --tr-white-60: hsla(0, 0%, 100%, 0.6);
  --font-inter: "Inter", sans-serif;
  --font-lexend: "Lexend Deca", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--font-inter);
  font-weight: 400;
  font-size: 15px;
  color: white;
}

body {
  min-height: 100vh;
  background-color: var(--main-dark-blue);
  display: grid;
  place-items: center;
}

.container {
  width: 90%;
  max-width: 500px;
  background-color: rgb(214, 40, 245);
  border-radius: 1em;
  overflow: hidden;
}

img {
  display: block;
  width: 100%;
  mix-blend-mode: multiply;
}

.art-wrapper {
  background-color: var(--card-des-blue);
}

article {
  padding: 0 2em;

  text-align: center;
}

article .heading {
  padding-top: 1em;
  font-weight: 700;
  font-size: 1.8rem;
}

article span {
  color: rgb(214, 40, 245);
  font-weight: 700;
}

article .summary {
  padding-top: 1em;
  line-height: 1.5;
  font-size: 1.2rem;
  color: var(--tr-white-75);
}

.art-footer {
  font-family: var(--font-lexend);
  padding: 1.5em 0;
}

.card {
  padding: 1em 0;
}

.card .number {
  padding-bottom: 0.2em;
  font-weight: 700;
  font-size: 1.5rem;
}

.card .text {
  text-transform: uppercase;
  font-size: 0.8rem;
  color: var(--tr-white-60);
}

@media (min-width: 520px) {
  html {
    font-size: 16px;
  }
  article {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 3em;
  }

  article .summary {
    padding-left: 1em;
    padding-right: 1em;
  }

  .art-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .art-footer {
    padding: 1em 0;
  }
}

@media (min-width: 920px) {
  .container {
    display: flex;
    align-items: stretch;
    max-width: 1080px;
    height: 500px;
  }
  .img-wrapper {
    order: 2;
  }
  .art-wrapper {
    width: 60%;
  }
  article {
    padding-right: 5em;
    text-align: left;
    height: 100%;
  }
  article .heading {
    font-size: 2rem;
    padding-top: 2em;
    line-height: 1.5;
  }

  article .summary {
    padding-left: 0;
    padding-right: 0;
  }
  .img-wrapper {
    height: 100%;
  }
  img {
    object-fit: cover;
    min-height: 100%;
  }
}
